<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="grid-container">
        <header class="header">
           <div class="brand">
           <a href="index.html">Heir Tu</a> 
           </div>
           <div class="header-links">
            <a href="cart.html">Cart</a> 
            <a href="SignIn.html">Sign in</a> 
           </div>
        </header >
        <!-- <aside>
            Shopping Catagories
        </aside> -->
        <main class="main">
            <div class="content">
            <ul class="products">
                <li>
                    <div class="product">
                    <img src="/images/d1.jpg" alt="product">
                    <div class="product-name">Pleated Skirt</div>
                    <div class="product-brand"> Azuri</div>
                    <div class="price"> $600</div>
                </div>
                </li> 
                <!-- <li>Product 2</li>
                <li>Product 3</li>
                <li>Product 4</li>
                <li>Product 5</li> -->
            </ul>
        </div>
        </main>
        <footer class="footer">
            All Rights Reserved
        </footer>

    </div>
</body>
</html>